

.submitButton {
    width: 100%;
    padding: 8px;
    max-height: 206.25%;
    margin-right: 0% !important;
    /* UI Properties */
    background: #a9d2d6 0% 0% no-repeat padding-box;
  
    opacity: 1;
    // border: 1px solid#023135;
    font-size: 18px !important;
    font-weight:medium;
    font-family: jost !important;
    font: normal normal medium 20px/26px Jost !important;
      color: rgb(54, 51, 51);
    float: right !important;
    border: none !important;
    &:hover{
      color: #FFA500;
    }
  }
  .createButton{
    width: 100%;
    padding: 8px;
    max-height: 206.25%;
    margin-right: 0% !important;
    /* UI Properties */
    font-size: 18px !important;
    font-weight:medium;
    font-family: jost !important;
    background: #023135 0% 0% no-repeat padding-box;
    border: none !important;
    opacity: 1;
    text-align: center;
    // border: 1px solid#023135;
    font: normal normal 500 20px/26px Jost !important;
    color: #FFA500;
    float: left !important;
    &:hover{
      color: #FFA500;
      
    }
  }
  .popupButton {
    width: 100%;
    padding: 8px;
    max-height: 206.25%;
    // margin-right: 0% !important;
    /* UI Properties */
    background: #023135 0% 0% no-repeat padding-box;
  
    opacity: 1;
    // border: 1px solid#023135;
    font-size: 18px !important;
    font-weight:medium;
    font-family: jost !important;
    font: normal normal medium 20px/26px Jost !important;
      color: white;
    justify-content: center;
    border: none !important;
    &:hover{
      color: #FFA500;
    }
  }
  
  
  
  
  
  
  
  
  
  