<!-- <body class="p-3 m-0 border-0 bd-example">
    <label for="customRange1" class="form-label">Example range</label>
    <input type="range" class="form-range" id="customRange1" >
  </body> -->


  <ng-container>
    <ng-container *ngIf="type === 'range'">
      <div class="{{class}}">
        <label [for]="for">{{label}}</label>
        <input type="range"  [step]="step" [min]="min" [max]="max" [readonly]="isReadOnly" [disabled]="disabled" class="{{class}}"  [id]="id" [placeholder]="placeholder" [value]="value"/>
      </div>
    </ng-container>
 
    </ng-container>