<app-button label="Range"(click)="range()" type="submit" class="submitButton sizes m-1 float-right" >
</app-button>
<app-button label="Input Group" (click)="inputGroup()" type="submit" class="submitButton sizes m-1 float-right" >
</app-button>
<app-button label="Floating Lable" (click)="floatingLable()" type="submit" class="submitButton sizes m-1 float-right" >
</app-button>
<app-button label="Table" (click)="Table()" type="submit" class="submitButton sizes m-1 float-right" >
</app-button>
<app-button label="Button" (click)="button()" type="submit" class="submitButton sizes m-1 float-right" >
</app-button>
<app-button label="LogOut" (click)="logOut()" type="submit" class="submitButton sizes m-1 float-right" >